<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading"> 
        <mat-form-field>
            <input matInput type="text" ngModel name="email" placeholder="Enter the User Id" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput type="password" ngModel name="password" placeholder="Enter the Password" #passwordInput="ngModel" required password>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
          </mat-form-field>
          
          <button mat-raised-button color="accent" type="submit">Sign Up</button>
        </form>
      
</mat-card>


<!-- <mat-card>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]= 'enteredTitle'>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput rows="6" [(ngModel)] ='enteredContent'></textarea>
    </mat-form-field>
</mat-card>
<hr>
<button mat-raised-button
color = "primary"
(click) = "onAddPost()" >Save Post</button> -->

<!-- <p>{{ newPost }}</p> -->
